.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.banner {
  background-color: salmon;
  padding-top: 1px;
  padding-bottom: 1px;
  border-bottom: solid black 2px;
}

.body {
  background-color: #2C3E50;
}

button {
  /* float: right; */
  padding: 2px 5px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 14px;
  border: solid black 1px;
  cursor: pointer;
}
