.App {
  text-align: center;
}

.top img {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 50%;
  width: 50%;
}

h1 {
  font-family: sans-serif;
}

h2 {
  font-family: sans-serif;
}

.top {
  background-color: salmon;
  padding-top: 1px;
  padding-bottom: 15px;
  border-bottom: solid black ;
}

.searchbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}


.movie-list {
  display: flex;
  overflow-x: scroll;
  flex-direction: row;
  justify-content: left;
}

.title  {
  color: #ddd;
  text-align: left;
  margin: 5px;
  font-size: 15px;
}

.vote {
  font-size: 13px;
  text-align: left;
  color: salmon;
  margin: 5px;
}

.movie-list::-webkit-scrollbar {
  background: #1C2833;
  border-style: solid black;
}

.movie-list::-webkit-scrollbar-track {
  background: #1C2833;
  border-style: solid black;
}

.movie-list::-webkit-scrollbar-thumb {
  background: #ddd;
}

.movie-list div {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 10px;
}

.movie-list a:link{
  text-decoration: none;
}

.searchbar form {
  background-color: #2C3E50;
  width: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  border-radius: 15px;
  border-style: solid;
}

.searchbar input {
  margin-left: 5%;
  width: 50%;
  height: 30px;
}

.body {
  margin: 0 auto;
  height: 100%;
  background-color: #2C3E50;
  padding-bottom: 15px;
  padding-top: 1px;
}

img {
  height: 175px;
  border-radius: 5px;
}

h2 {
  color: #ddd;
}

.movie_title {
  color: #ddd;
}

.movie_image {
  width: 233.312px;
  height: 350px;
}
.movie_date{
  color:salmon;
  font-size: 14px;
}
.movie_description {
  color: #ddd;
  font-size: 17px;
}

#search-button {
  border-radius: 10px;
  width: 38px;
  height: 38px;
  justify-content: right;
}

#movie-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.inner-body {
  padding-top: 10px;
  width: 50%;
}

.right-info {
  padding-left: 10px;
  text-align: left;
}

.movie-container {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
} 

.movie-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.reviews h1 {
  color: #ddd;
}

.review-list {
  display: flex;
  flex-direction: column;
}

footer {
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: black;
  color: #ddd;
}

@media (max-width: 800px) {
  .top {
    background-color: salmon;
    border-bottom: solid black ;
  }

  .top img {
    height: 95%;
    width: 95%;
  }

  .searchbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
  }
  
  .searchbar form {
    background-color: #2C3E50;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    border-radius: 15px;
    border-style: solid;
  }
  .searchbar input {
    margin-left: 5%;
    width: 80%;
    height: 30px;
  }

  #search-button {
    border-radius: 10px;
    width: 38px;
    height: 38px;
    justify-content: right;
  }
  .loadingspin {
    display: flex;
    justify-content: center;
  }

  /* Movie page css */
  #movie-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .inner-body {
    padding-top: 10px;
    width: 50%;
  }
  
  .right-info {
    padding-left: 10px;
    text-align: left;
  }
  
  .movie-container {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
  } 
  
  .movie-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
  }
  
  .reviews h1 {
    color: #ddd;
  }
  
  .review-list {
    display: flex;
    flex-direction: column;
  }
}