.searchResults img {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 50%;
    width: 50%;
}

.search-list {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    overflow-x: auto;
    justify-content: space-around;
}

.search-list a:link{
    text-decoration: none;
  }

.searchResults .body img {
    width: 233.312px;
    height: 350px;
}