.searchResults {
    height: 100vh;
}

.search-list {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.search-list div {
    height: 175px;
    border-radius: 5px;
    width: 117px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 125px;
}

.search-list div  img{
    width: 117px;
    border-radius: 5px;
}

.search-list a:link {
    text-decoration: none;
  }

.movie img {
    height: 175px;
    width: 116.656px;
}

@media (max-width: 600px) {
    .searchResults {
        height: auto;
    }

    .search-list {
        display: flex;
        flex-direction: column;
        align-content: center;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .search-list div {
        height: 262.5px;
        border-radius: 5px;
        width: 175.5px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .search-list div  img {
        border-radius: 5px;
        height: 262.5px;
        width: 175.5px;
    }
}

@media (max-width: 1000px) {
    .searchResults {
        height: auto;
    }
}